<tr>
  <td>
<% if procomment.user == current_user %>
    <span class="commentusername"><%= gravatar_for procomment.user, :size => 20 %> <%= procomment.user.name %></span><br />
<% else %>
    <span class="commentusername"><%= anonymous_image(:size => 20) %> Anonimo</span><br />
<% end %>
    <span><%= procomment.comment %></span><br />
    <span class="commenttimestamp">
      Postado hรก <%= time_ago_in_words(procomment.created_at) %>.
    </span>
  </td>
</tr>
