<h1>Editar perfil</h1>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">trocar</a>
</div>
<br /><br />

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Senha" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmacao da senha" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
