<tr>
  <td>
    <% if signed_in? and (current_user.admin? or subcomment.user == current_user) %>
      <span class="commentusername"><%= gravatar_for subcomment.user, :size => 20 %> <%= subcomment.user.name %></span><br />
    <% else %>
      <span class="commentusername"><%= anonymous_image(:size => 20) %> Anonimo</span><br />
    <% end %>
    <% if signed_in? and (current_user.admin? or subcomment.user == current_user) %>
      <span class="commentusername"><%= link_to "delete", subcomment, :method => :delete, :confirm => "Tem certeza que deseja deletar o comentario?", :title => "Deletar comentario" %></span><br />
    <% end %>
    <span><%= subcomment.comment %></span><br />
    <span class="commenttimestamp">
      Postado hรก <%= time_ago_in_words(subcomment.created_at) %>.
    </span>
  </td>
</tr>
