<h1><%= @subject.code %></h1>
<div class="content">
<h2><%= @subject.name %></h2>
<p><%= @subject.description %></p>
<h3 class="comments">Comentarios</h3>
<div class="content">

<% if @subject.subcomments.empty? %>
<span class="nocomments">Sem comentarios</span>
<% else %>
<table class="comments">
<%= render @subcomments %>
</table>
<% end %>

<% if signed_in? %>
  <table summary="For signed-in users">
    <tr>
      <td class="main">
        <h3>Envie um comentario</h1>
        <%= render 'shared/subcomment_form' %>
      </td>
    </tr>
  </table>
<% end %>

</div>
</div>
