<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Materias", subjects_path %></li>
      <li><%= link_to "Professores", professors_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Usuarios", users_path %></li>
      <li><%= link_to "Perfil", current_user %></li>
      <li><%= link_to "Sair", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Cadastrar", signup_path %></li>
      <li><%= link_to "Entrar", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
